# Byte-compiled / optimized / DLL files
__pycache__/

# Data files and folders
data/**
!data/**/
**/*.csv

# Lightning checkpoints
checkpoints/*.ckpt
lightning_logs/

# Unit test / coverage reports
.pytest_cache/
