# Byte-compiled / optimized / DLL files
__pycache__/

# Data files and folders
data/**
!data/**/
**/*.csv

# Checkpoints and logs
chabud2023/
checkpoints/*.ckpt
lightning_logs/
wandb/

# Unit test / coverage reports
.pytest_cache/
